<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671074632603-l945ivl13lcn6sbrrvvhq7b9qhdj9a2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671074632603-l945ivl13lcn6sbrrvvhq7b9qhdj9a2t</string>
	<key>API_KEY</key>
	<string>AIzaSyDwuPhvlAiRnsXaUU6MkEdtUn6nnmLDoZw</string>
	<key>GCM_SENDER_ID</key>
	<string>671074632603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matrixsoftware.digitpark</string>
	<key>PROJECT_ID</key>
	<string>digitpark-7d772</string>
	<key>STORAGE_BUCKET</key>
	<string>digitpark-7d772.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671074632603:ios:8b6c04ed1fb477bee6973e</string>
	<key>DATABASE_URL</key>
	<string>https://digitpark-7d772-default-rtdb.firebaseio.com</string>
</dict>
</plist>